<div class="jumbotron">
  <h1>Welcome to Airlines</h1>
  <p>We are a premier airline providing top-notch service to destinations around the world.</p>
  <form (submit)="submitForm()">
     <button type="submit" class="btn btn-primary btn-block">Search Airlines</button>
     
  </form>
</div>

  <div class="row">
    <div class="col-md-2">
      <div class="card">
        <div class="card-body">
          <h2>About Us</h2>
          <p>Learn more about our airline and our commitment to providing exceptional service.</p>
          <a routerLink="/about-us" class="btn btn-secondary">Read More</a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="card-body">
          <h2>Contact Us</h2>
          <p>Get in touch with us if you have any questions or need assistance with your travel plans.</p>
          <a routerLink="/contact-us" class="btn btn-secondary">Contact Us</a>
        </div>
      </div>
    </div>
  </div>

