.form-container {
    width: 200px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #2c2a2a;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-right: 100px;
  }
  

  .form-group {
    margin-bottom: 20px;
    margin-right: 50px;
  }
  
  .form-group label {
    margin-left: 390px;
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"] {
    width: 40%;
    padding: 10px;
    margin-left:400px ;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
  }
  
  /* Style for the form submit and reset buttons */
  button[type="submit"],
  button[type="reset"] {
    margin-left: 400px;
    display: block;
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #1a1c1c;
    cursor: pointer;
  }
  
  button[type="submit"]:hover,
  button[type="reset"]:hover {
    background-color: #e1e8ef;
  }
  