<!DOCTYPE html>
<html>
<head>
 <title>Logout </title>
</head>
<body>
 <div class="container">
  <div class="row justify-content-center">
   <div class="col-md-6">
    <div class="card">
     <div class="card-header">Logged Out</div>
     <div class="card-body">
      <p>You have been successfully logged out.
        Thank You for visiting us.
      </p>
      <button onclick="window.location.href='/feedback'">Give Feedback</button>
     </div>
    </div>
   </div>
  </div>
 </div>
</body>
</html>


